html, body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../images/oueXY8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1px;
  border-radius: 0px 0px 40px 40px; 
}

.header {
  background-image: url("../images/oueXY8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1px;
  border-radius: 0px 0px 40px 40px; 
  height: 23em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spriendsy-logo-not-logged-in {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-family: 'Metal Mania', cursive;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
}

.user-status-profile-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-status {
  display: flex;
  flex-direction: column;
  font-family: 'Odibee Sans', cursive;
  margin-right: 5em;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 1000;
}

.in-lebaron-status-wrapper {
  display: flex;
  flex-direction: row;
}

#in_lebaron_svg {
  margin-top: 3px;
  margin-left: 3px;
}

#friendly_svg {
  margin-top: 3px;
  margin-left: 3px;
}

#true_svg {
  color: rgb(5, 209, 5);
  margin-top: 7px;
  font-size: 45px;
  margin-left: 8px;
}

#false_svg {
  color: rgb(240, 34, 6);
  margin-top: 7px;
  margin-left: 8px;
  font-size: 45px;
}

.friendly-status-wrapper {
  display: flex;
  flex-direction: row;
}

#profile-setting-btn-svg {
  text-decoration: none;
  color: #bd8100;
  margin-left: 4em;
  font-size: 75px;
}

.spriendsy-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-family: 'Metal Mania', cursive;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
  margin-bottom: -7px;
  margin-top: 18px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Piedra', cursive;
  font-size: 50px;
  margin-bottom: 5px; 
}

.nav-1 {
  padding-left: 15px;
  padding-top: 2px;
  padding-right: 4px;
  border-radius: 0px 0px 0px 45px;
  color: rgb(0, 153, 255);
  text-decoration: none;
  background-color: rgb(13, 22, 29);
}

.nav-2 {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 8px;
  color: rgb(0, 153, 255);
  text-decoration: none;
  background-color: rgb(13, 22, 29); 
}

.nav-3 {
  margin-right: 10px;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 8px;
  color: rgb(0, 153, 255);
  text-decoration: none;
  background-color: rgb(13, 22, 29);
}

.nav-4 {
  color: rgb(0, 153, 255);
  text-decoration: none;
  background-color: rgb(13, 22, 29);
  padding-left: 4px;
  padding-top: 2px;
  padding-right: 15px;
  border-radius: 0px 0px 45px 0px;
}

/* Adjusting the scroll bar! */
/* width */
*::-webkit-scrollbar {
  width: 0px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}