.content {
  display: flex;
  justify-content: center;
  position: relative;
}

.messages_wrapper {
  margin-top: 12px;
  overflow-y: scroll;
  height: 78em; 
  width: 36em;
}

.friend_clicked {
  background-color: rgb(117, 117, 117);
  text-decoration: none;
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
}

.friends_not_clicked {
  text-decoration: none;
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
}

.message_from_user {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  font-family: 'Cairo', sans-serif;
  margin-bottom: 15px;
  color: rgb(5, 209, 5);
  width: 24em;
  font-size: 24px;
  text-align: center;
}

.message_from_friend {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  font-family: 'Cairo', sans-serif;
  margin-bottom: 15px;
  margin-left: 5.8em;
  color: rgb(255, 0, 0);
  width: 15.5em;
  font-size: 24px;
  text-align: center;
}

.message {
  width: 16em;
}

.delete_btn {
  color: rgb(240, 6, 6);
  font-size: 25px;
  margin-top: 6px;
  margin-left: 15px;
}

.textarea_content {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 20.1%;
}

@media (max-width:70em) {
  .textarea_content {
    left: 8.4%;
  }
}

@media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) { 
    .friends_list_content {
      height: 107.5em !important;
    }

    .messages_wrapper {
      height: 105em !important;
    }
  }

#textarea {
  overflow: hidden;
  height: 1.6em;
  width: 14.8em;
  outline: none;
  border-width: 4px;
  border-color: rgb(0, 153, 255);
  border-radius: 27px 0px 0px 27px;
  resize: none;
  font-family: 'Cairo', sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 26px;
  text-justify: center;
}

.send_btn {
  border: none;
  outline: none;
  background: none;
  font-size: 55px;
  margin-left: 1px;
  color: rgb(0, 153, 255);
  margin-top: -10px;
  background-color: white;
}

.friends_list_content {
  overflow-y: scroll;
  height: 81.5em;
  width: 20em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 7.5em;
  margin-left: -3.8em;
  border-left: 4px solid rgb(0, 153, 255);
  border-right: 4px solid rgb(0, 153, 255);
}

.friends_list_helpful_margin {
  margin-bottom: 2em;
}

.username {
  font-size: 27px;
  color: rgb(144, 0, 0);
  font-family: 'Audiowide', cursive;
  width: 11.8em;
  text-align: center;
}

.status_content {
  display: flex;
  align-items: center;
  font-family: "Odibee Sans", cursive;
  font-size: 27px;
}

.in_lebaron {
  display: flex;
}

.friendly {
  display: flex;
  margin-left: 10px;
}

.in_lebaron_text {
  letter-spacing: 1px;
}

#in_lebaron_true_svg {
  color: rgb(5, 209, 5);
  margin-top: 2px;
}

#in_lebaron_false_svg {
  color: rgb(240, 34, 6);
  margin-top: 2px;
}

.friendly_text {
  letter-spacing: 1px;
}

#friendly_true_svg {
  color: rgb(5, 209, 5);
  margin-top: 2px;
}

#friendly_false_svg {
  color: rgb(240, 34, 6);
  margin-top: 2px;
}