.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width:70em) {
  .textarea_container {
    left: 18.5% !important;
  }
}

@media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) { 
    .comments_container {
      height: 102em !important; 
    }
  }

  .business_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 6px rgb(0, 0, 0);
    border-radius: 50px 50px 50px 50px;
    background-color: rgb(0, 0, 0);
  }
  
  .business_name {
    color: rgb(0, 153, 255);
    font-family: 'Audiowide', cursive;
    width: 20.2em;
    border: none;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .owner_info {
    text-decoration: none;
  }
  
  .owner_name {
    color: rgb(144, 0, 0);
    font-family: 'Audiowide', cursive;
    width: 22em;
    border: none;
    text-align: center;
    font-size: 23px;
  }
  
  .business_description_container {
    text-align: justify;
    width: 27em;
    color: rgb(0, 153, 255);
    font-family: 'Cairo', sans-serif;
    line-height: 23px;  
    font-size: 20px; 
    margin-bottom: 10px;
  }

.comments_container {
  overflow-y: scroll;
  height: 78em; 
  margin-bottom: 3em;
}

.comment_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.username {
  color: rgb(144, 0, 0);
  font-family: 'Audiowide', cursive;
  width: 20em;
  border: none;
  text-align: center;
  font-size: 26px;
}

.comment {
  text-align: center;
  width: 27em;
  color: rgb(240, 6, 6);
  font-family: 'Cairo', sans-serif;
  line-height: 23px;  
  font-size: 20px; 
}

.delete_btn {
  color: rgb(240, 6, 6);
  font-size: 25px;
  margin-top: 6px;
}

.textarea_container {
  position: fixed;
  bottom: 0;
  left: 27%;
}

.textarea_wrapper {
  display: flex;
}

#business_comments_textarea {
  overflow: hidden;
  height: 2em;
  width: 28em;
  outline: none;
  border-width: 4px;
  border-color: rgb(0, 153, 255);
  border-radius: 27px 0px 0px 27px;
  resize: none;
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 15px;
  margin-top: 0.9em;
}

.send_btn {
  border: none;
  outline: none;
  background: none;
  font-size: 55px;
  margin-left: 1px;
  color: rgb(0, 153, 255);
  margin-top: 8px;
}