.notifications {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(255, 217, 0);
  max-width: 16em;
  width: 16em;
  text-align: center;
}

.input-errors {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: rgb(255, 217, 0);
  max-width: 18em;
  width: 18em;
  text-align: center;
}

.login-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 7px;
}

#facebook-contact-link {
  color: rgb(0, 148, 247);
  text-decoration: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-label {
  font-family: 'Cabin', sans-serif;
}

.login-user-name input {
  font-family: 'Cabin', sans-serif;
  border: none;
  border-bottom: 2px solid rgb(0, 148, 247);
  padding-right: 1em;
  padding-left: 1em;
  outline: none;
  text-align: center;
}

.password-label {
  margin-top: 6px;
  font-family: 'Cabin', sans-serif;
}

.login-password input {
  border: none;
  border-bottom: 2px solid rgb(0, 148, 247);
  padding-right: 0.4em;
  padding-left: 0.4em;
  outline: none;
  text-align: center;
}

#register-btn {
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 15px;
  color: rgb(0, 153, 255);
}

.login-btn {
  border: none;
  outline: none;
  height: 30px;
  background: none;
}

.login-btn-text {
  background-color: rgb(5, 209, 5);
  font-family: 'Piedra', cursive;
  font-size: 17px;
  border-radius: 12px;
  margin-bottom: -11px;
  padding: 6px 9px 5px 9px;
}

#worship-icon {
  color: rgb(5, 209, 5);
  transform: rotate(180deg);
  font-size: 35px;
  margin-bottom: 15px;
}