.notifications {
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(255, 217, 0);
  max-width: 16em;
  width: 16em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.input-errors {
  font-family: 'Rubik', sans-serif;
  font-size: 21px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: rgb(255, 217, 0);
  max-width: 18em;
  width: 18em;
  text-align: center;
}

.register-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1em;
}

#facebook-contact-link {
  color: rgb(0, 148, 247);
  text-decoration: none;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.labels {
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}

.username {
  font-family: 'Cabin', sans-serif;
  border: none;
  border-bottom: 3px solid rgb(0, 148, 247);
  padding-right: 4.6em;
  padding-left: 4.6em;
  outline: none;
  text-align: center;
  font-size: 20px;
}

.group-pass {
  border: none;
  border-bottom: 3px solid rgb(0, 148, 247);
  padding-right: 4em;
  padding-left: 4em;
  outline: none;
  text-align: center;
  font-size: 20px;
}

.password {
  border: none;
  border-bottom: 3px solid rgb(0, 148, 247);
  padding-right: 4em;
  padding-left: 4em;
  outline: none;
  text-align: center;
  font-size: 20px;
}

.password_confirmation {
  border: none;
  border-bottom: 3px solid rgb(0, 148, 247);
  padding-right: 4em;
  padding-left: 4em;
  outline: none;
  text-align: center;
  font-size: 20px;
}

#login-btn {
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 25px;
  color: rgb(0, 153, 255);
  font-size: 22px;
}

.register-btn {
  border: none;
  outline: none;
  height: 25px;
  background: none;
}

.register-btn-text {
  background-color: rgb(5, 209, 5);
  font-family: 'Piedra', cursive;
  font-size: 17px;
  border-radius: 12px;
  margin-bottom: -10px;
  padding: 6px 9px 5px 9px;
  font-size: 18px;
}

#worship-icon {
  color: rgb(5, 209, 5);
  transform: rotate(180deg);
  font-size: 34px;
  margin-bottom: 40px;
}