@layout('navigation')

@section('extracss')
  {{ style('pages/profile-settings') }}
@endsection

@section('content')
  <div class="content">
    <a class="sign-out-btn" href="/logout">
      SIGN OUT
      <i id="sign-out-svg" class="fas fa-sign-out-alt"></i>
    </a>
  </div>
@endsection